.results-container {
    display: flex;
    height: 100%;
  }
  
  #no-results {
    font-size: 24px;
  }

  #help-text {
    font-size: 16px;
  }

  ion-content {
    --background: transparent;
  }

  .counter {
    padding-right: calc(var(--ion-padding, 16px) * 0.5);
  }